<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidfinallyapp"
    android:sharedUserId="aaa.bbb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name=".SimpleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:priority 是提高intent－filter的优先级，默认为0 -->
        <!-- android:process 组件在新进程中运行 -->
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start"
            android:process=".another_pid" >
            <intent-filter>
                <action
                    android:name="com.example.androidfinallyapp.StartAcitvity"
                    android:priority="1000" />

                <data
                    android:mimeType="image/jpeg"
                    android:path="/sdcard"
                    android:scheme="file" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.androidfinallyapp.StartAcitvityTwo" />

                <data android:mimeType="text/plain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServiceOnStartCommand"
            android:exported="false"
            android:process=".another_service" >
            <intent-filter>
                <action android:name="com.example.androidfinallyapp.ServiceOnStartCommand" />
            </intent-filter>
        </service>
        <service
            android:name=".ServiceOnBind"
            android:exported="false" >
        </service>

        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
    </application>

</manifest>